name: Terraform Apply
on: [push]
jobs:
  terraform_apply:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/checkout@v1
    - name: Install Terraform
      env:
            TERRAFORM_VERSION: "1.2.4"
      run: |
        tf_version=$TERRAFORM_VERSION
        wget https://releases.hashicorp.com/terraform/"$tf_version"/terraform_"$tf_version"_linux_amd64.zip
        unzip terraform_"$tf_version"_linux_amd64.zip
        sudo mv terraform /usr/local/bin/
    - name: Verify Terraform version
      run: terraform --version

    - name: Terraform init
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
      run: terraform init -backend=true \-backend-config="bucket=dpp-dev-raw-src-rdw/C3" \-backend-config="key=dev/blackberry_pull_request/terraform.tfstate" \-backend-config="region=eu-west-1" 
      #terraform init -backend-config="access_key=ASIAYMLGKE27LG6MQ3WT" -backend-config="secret_key=vhNdGN5dY3gIXZhDtH8xedZbhXGzCzt3nIfTRsWy" -backend-config="region=eu-west-1"
      #terraform init -input=false
    - name: Terraform validation
      run: terraform validate

    - name: Terraform apply
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
      run: terraform apply -auto-approve -input=false
